@media (max-width: 1600px) {
   #year-display {
      top: 12rem;
   }
}

@media (max-width: 1440px) {
   #year-display {
      top: 10rem;
   }

   .hero p {
      width: 30rem;
   }

   #container {
      height: 90vh;
   }
}

@media (max-width: 1366px) {
   #year-display {
      top: 9rem;
   }
}

@media (max-width: 1280px) {
   #year-display {
      top: 8rem;
      left: 36%;
   }

   .hero p {
      width: 25rem;
   }

   .nav {
      flex-direction: column;
   }
}

@media (max-width: 1024px) {
   .hero p {
      width: 20rem;
   }

   .hero button {
      top: 26rem;
   }

   #year-display {
      top: 5.5rem;
      font-size: 100px;
   }

   #container {
      height: 80vh;
      width: 120%;
   }
}

@media (max-width: 820px) {
   .parallax-item img {
      max-width: 200%;
   }

   .tm {
      margin-top: -6%;
    }

    #year-display {
      top: 54rem;
      left: 24%;
   }

   #container {
      height: 90vh;
      width: 120%;
   }

   button {
      font-size: 20px;
   }

   body {
      font-size: 18px;
   }
}

@media (max-width: 810px) {
   #container {
      height: 110vh;
   }
}

@media (max-width: 768px) {
   .hero p {
      color: #003245;
      top: 42rem;
   }

   .hero button {
      top: 12rem;
   }

   #year-display {
      top: 58rem;
      left: 6%;
   }

   #container {
      height: 110vh;
      width: 100%;
   }

   .logo {
      width: 12rem;
   }

   .hero button {
      top: 8rem;
   }
}

@media (max-width: 610px) {
   .hero p {
      top: 38rem;
   }

   #year-display {
      top: 54rem;
   }

   #container {
      height: 100vh;
      width: 115%;
   }
}

@media (max-width: 430px) {
   .hero p {
      color: #003245;
      top: 30rem;
   }

   .hero button {
      top: 12rem;
   }

   #year-display {
      top: 44rem;
      left: 6%;
   }

   .logo {
      width: 12rem;
   }

   .hero button {
      top: 8rem;
   }
}

@media (max-width: 393px) {
   .hero p {
      top: 28rem;
   }

   #year-display {
      top: 44rem;
      left: 14%;
      font-size: 60px;
   }

   #container {
      height: 100vh;
      width: 115%;
   }

   .segment-display,
   .segment-overlay {
      width: 3rem;
   }

   .segment-display_top,
   .segment-display_bottom {
      border-radius: 1rem;
   }
}

@media (max-width: 375px) {
   .hero p {
      top: 26rem;
   }

   .hero button {
      left: 0.25rem;
   }

    #year-display {
      top: 40rem;
   }

   #container {
      height: 118vh;
      width: 100%;
   }
}